<div class="position-relative d-flex justify-content-center">
    
<!-- 
    <button class="btn btn-primary position-absolute bottom-2 start-30 translate-middle-x">Prossima Bandiera Random</button> 
    btn btn-transparent border border-white text-white customHover
    -->
    
    <div class="d-flex justify-content-center align-items-center position-absolute w-100 h-100 container flex-column" >
        
        <div class="container p-0 m-1 d-flex justify-content-between w-100">
            
            <button id="btn-donate2" class="customBgButton" (click)="beforeFlag()">
                <img src="../../assets/flags/left-arrow (1).png" alt="">
            </button>
            <button class="btn-donate" (click)="generatorFlag()">Prossima Bandiera Random</button>
            <button id="btn-donate2" (click)="nextFlag()">
                <img src="../../assets/flags/right-arrow (1).png" alt="">
            </button>
        </div>
        <div>
            <span>{{flagSelezionata.name}}</span>
        </div>
    </div>
    <img [src]="flagSelezionata.image" class="imageFlag">
</div>